In [1]:
#program to display all the header tags from wikipedia.org

import  requests
from  bs4 import BeautifulSoup

url = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(url.text, 'html.parser')
story = soup.find_all(['h1', 'h2','h3'])
for i in story:
    print(i)

<h1 class="firstHeading" id="firstHeading">Main Page</h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>
<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>
<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

In [2]:
# program to display IMDB’s Top rated 100 movies’ data

from bs4 import BeautifulSoup
import requests
import random
import re
import pandas as pd

url = 'https://www.imdb.com/chart/top'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
movies = soup.select('td.titleColumn')

 
ratings = [b.attrs.get('data-value')
           for b in soup.select('td.posterColumn span[name=ir]')]


#creating empty list
list = []


# Iterating over movies to extract
# each movie's details
for index in range(0, len(movies),):
     
   
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = {"Movie Title": movie_title,
            "Year": year,
            "Rating": (ratings[index])}
    list.append(data)
 
 # printing movie details with its rating.
for movie in list:
    
    df =  pd.DataFrame(list)
        
    
df.head(100)

                              Movie Title  Year             Rating
0                The Shawshank Redemption  1994  9.220834780153828
1                           The Godfather  1972  9.147241510683546
2                  The Godfather: Part II  1974  8.980906928409667
3                         The Dark Knight  2008  8.974742104911696
4                            12 Angry Men  1957  8.941281825900061
..                                    ...   ...                ...
95                    Requiem for a Dream  2000  8.260806149082978
96                    Singin' in the Rain  1952   8.25911639742329
97                     North by Northwest  1959  8.257508705813981
98  Eternal Sunshine of the Spotless Mind  2004  8.255570287462579
99                    Ladri di biciclette  1948  8.254428412273475

[100 rows x 3 columns]

In [3]:
#program to display IMDB’s Top rated 100 Indian movies’ data

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

url = 'https://www.imdb.com/india/top-rated-indian-movies'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
 
movies = soup.select('td.titleColumn')        

 
ratings = [b.attrs.get('data-value')
           for b in soup.select('td.posterColumn span[name=ir]')]
 
votes = [b.attrs.get('data-value')
         for b in soup.select('td.ratingColumn strong')]
 
list = []       #creating empty list
 


for index in range(0, len(movies)):          ## Iterating over movies to extract
                                              # each movie's details
     
    
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = {"movie_title": movie_title,
            "year": year,
            "rating": ratings[index]}
    list.append(data)

# printing movie details with its rating.
for movie in list:
    df = pd.DataFrame(list)
    
df.head(100)

          movie_title  year             rating
0            Jai Bhim  2021  8.616417235578275
1             Nayakan  1987  8.509667966273161
2   Pariyerum Perumal  2018  8.503447371007839
3          Anbe Sivam  2003  8.497807308010566
4   C/o Kancharapalem  2018  8.481783538943379
..                ...   ...                ...
95    Munna Bhai MBBS  2003  8.095999000155377
96          Sarfarosh  1999  8.092167819327056
97              Queen  2013   8.08776007988713
98               Roja  1992   8.08713710557326
99     Dil Chahta Hai  2001  8.084771891729252

[100 rows x 3 columns]

In [4]:
#program to scrape cricket rankings from icc-cricket.com - Men

from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)

soup = bs(response.content, 'html.parser')
#Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

matches = []    #creating empty list for matches
points = []       #creating empty list of points of matches
ratings = []       #creating empty list  of ratings
teamName = []       #creating empty list of Team name
ranking = []         #creating empty list of ranking of team

team = soup.find_all('tr', class_='table-body')
topTeam = soup.find('tr', class_ ='rankings-block__banner')
rank =topTeam.find('td', class_='rankings-block__banner--pos')
ranking.append(rank.get_text())
td = topTeam.find('span', class_='u-hide-phablet')
teamName.append(td.get_text())

mNo = topTeam.find('td', class_='rankings-block__banner--matches')
matches.append(mNo.get_text())

mPoint = topTeam.find('td', class_='rankings-block__banner--points')
points.append(mPoint.get_text())

rate = topTeam.find('td', class_='rankings-block__banner--rating')
ratings.append(rate.get_text().replace('\n','').strip())

for i in team:
    
    td = i.find('span', class_='u-hide-phablet')
    teamName.append(td.get_text())
    
    mNo = i.find_all('td', class_='table-body__cell')
    matches.append(mNo[2].get_text())

    points.append(mNo[3].get_text())
    
    ratings.append(mNo[4].get_text())
    
    ranking.append(mNo[0].get_text())
    

#print(ranking)    
#print(teamName)    
#print(matches)    
#print(points)
#print(ratings)
print("  ***** TOP 10 ODI CRICKET TEAM *****  ")


#creating datafram of listes items
TopTeam = pd.DataFrame({'Rank':ranking, 'Team':teamName, 'Matches':matches, 'Points':points, 'Ratings':ratings})

TopTeam.head(10)

  ***** TOP 10 ODI CRICKET TEAM *****

  Rank          Team Matches Points Ratings
0    1   New Zealand      17  2,054     121
1    2       England      32  3,793     119
2    3     Australia      28  3,244     116
3    4         India      32  3,624     113
4    5  South Africa      25  2,459      98
5    6      Pakistan      27  2,524      93
6    7    Bangladesh      30  2,740      91
7    8   West Indies      30  2,523      84
8    9     Sri Lanka      32  2,657      83
9   10   Afghanistan      17  1,054      62

In [5]:
#program to scrape cricket rankings from icc-cricket.com - Women

from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
response = requests.get(url)

soup = bs(response.content, 'html.parser')
#Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

#creating lists
matches = []
points = []
ratings = []
teamName = []
ranking = []

team = soup.find_all('tr', class_='table-body')        #for top team
topTeam = soup.find('tr', class_ ='rankings-block__banner')

rank =topTeam.find('td', class_='rankings-block__banner--pos')
ranking.append(rank.get_text())

td = topTeam.find('span', class_='u-hide-phablet')
teamName.append(td.get_text())

mNo = topTeam.find('td', class_='rankings-block__banner--matches')
matches.append(mNo.get_text())

mPoint = topTeam.find('td', class_='rankings-block__banner--points')
points.append(mPoint.get_text())

rate = topTeam.find('td', class_='rankings-block__banner--rating')
ratings.append(rate.get_text().replace('\n','').strip())

for i in team:
    
    td = i.find('span', class_='u-hide-phablet')
    teamName.append(td.get_text())
    
    mNo = i.find_all('td', class_='table-body__cell')
    matches.append(mNo[2].get_text())

    points.append(mNo[3].get_text())
    
    ratings.append(mNo[4].get_text())
    
    ranking.append(mNo[0].get_text())
    

#print(ranking)    
#print(teamName)    
#print(matches)    
#print(points)
#print(ratings)
print("  ***** TOP 10 ODI CRICKET TEAM *****  ")


#creating dataframe
TopTeam = pd.DataFrame({'Rank':ranking, 'Team':teamName, 'Matches':matches, 'Points':points, 'Ratings':ratings})

TopTeam.head(10)

  ***** TOP 10 ODI CRICKET TEAM *****

  Rank          Team Matches Points Ratings
0    1     Australia      17  2,746     162
1    2  South Africa      19  2,307     121
2    3       England      18  2,148     119
3    4         India      17  1,899     112
4    5    Bangladesh       5    475      95
5    6   New Zealand      19  1,668      88
6    7   West Indies      19  1,658      87
7    8      Pakistan      18  1,226      68
8    9       Ireland       5    240      48
9   10     Sri Lanka       5    233      47

In [6]:
#program to scrape details of all the posts from coreyms.com

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np
url = 'https://coreyms.com/'     #url for scraping
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
#creating empty lists
heading = []
date = []
content = []
vdo = []


mainClass = soup.find_all('main' , class_=('content'))
for mainC in mainClass:
    for a in mainC.find_all('a', class_= ('entry-title-link')):   #coding for heading
        heading.append(a.get_text())
        
    for t in mainC.find_all('time', class_= ('entry-time')):      #coding for date
        date.append(t.get_text())
     
    for c in mainC.find_all('div', class_ = ('entry-content')):  #coding for content 
        p = c.find('p')
        content.append(p.get_text())
        
    for v in mainC.find_all('span', class_ =('embed-youtube')): 
        span = v.find('iframe', class_=('youtube-player'))
        vdo.append(span['src'], )
        
#print(len(heading))
#print(len(date))
#print(len(content))
#print(len(vdo))


df = pd.DataFrame.from_dict({'Heading': heading, 'Date':date, 'Content': content, 'Video':vdo}, orient= 'index')

df.transpose()

,Heading,Date,Content,Video
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,https://www.youtube.com/embed/mO_dS3rXDIs?vers...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/2Fp1N6dof0Y?vers...
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/-nh9rCzPJ20?vers...
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/06I63_p-2A4?vers...
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://www.youtube.com/embed/_JGmemuINww?vers...
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",None

In [7]:
#program to scrape house details from nobroker.in

from bs4 import BeautifulSoup as bs
import requests
import re
import pandas as pd
url ='https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44N%20DUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8%20iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0'
headers = { "user-Agent": 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36'}
response = requests.get(url,headers= headers)
soup = bs(response.content,"lxml")
HouseTitle=[]
Location=[]
Area=[]
Emi=[]
Price=[]

HouseName= soup.find_all('a', class_='nb__U5JyW')
for i in HouseName:
    HName = i.find('h2', class_='heading-6 font-semi-bold nb__25Cl7')
    HouseTitle.append(HName.get_text())

HouseLocation = soup.find_all('div', class_='nb__nXU01')
for i in HouseLocation:
    HLocation = i.find('div', class_='nb__1EwQz')
    Location.append(HLocation.get_text())

    
    
HouseArea = soup.find_all('div', class_='font-semi-bold heading-6')
for i in HouseArea:
    try:
        HArea = i.find('div', class_='nb__FfHqA')
        Area.append(HArea.get_text())
    except AttributeError:
        pass

    
       
    
HouseEMI = soup.find_all("div", {"id": "roomType"})
for i in HouseEMI:
    try:
        #H_EMI = i.find(('span','.text'))
        Emi.append(i.get_text())
        #print(i.get_text())
        
    except AttributeError:
        pass    
   
    
HousePrice = soup.find_all("div", {"id": "minDeposit"})
for i in HousePrice:
    try:
        #HPrice = i.find(('span',"span[attr].first()"))
        #Price.append(HPrice.get_span.text())
        hPriceDiv=i.find_all('div')
        #print(hPriceDiv[0].get_text())
        #print(hPriceDiv[1].get_text())
        Price.append(hPriceDiv[0].get_text() +' '+hPriceDiv[1].get_text())
        
    except AttributeError:
        pass

#print(HouseTitle)
#print(Location)
#print(Area)
#print(Emi)
#print(Price)

HouseDetails = pd.DataFrame.from_dict({'House Title':HouseTitle, 'Location':Location, 'Area': Area, 'EMI':Emi, 'Price':Price}, orient='index')


HouseDetails.transpose()

,House Title,Location,Area,EMI,Price
0,4 BHK In Independent House For Sale In Hebba...,"Independent House, Bangalore - Hosur Road, Nea...","1,800 sqft","₹77,374/Month","₹1.35 Crores ₹7,500 per sq.ft."
1,4 BHK In Independent House For Sale In Elect...,"Independent House, Shanthi Pura, Electronic Ci...","1,400 sqft","₹31,522/Month","₹55 Lacs ₹3,929 per sq.ft."
2,4 BHK In Independent House For Sale In Elect...,"Independent House, brand factory","2,000 sqft","₹39,546/Month","₹69 Lacs ₹3,450 per sq.ft."
3,4 BHK Flat For Sale In Electronic City,"Standalone Building, YOUNG LIFE PG FOR LADIES,...","1,120 sqft","₹28,657/Month","₹50 Lacs ₹4,464 per sq.ft."
4,4 BHK Apartment For Sale In Nisarga Residenc...,"Nisarga Residency Near Thali Resturant, Anant...","2,000 sqft","₹45,851/Month","₹80 Lacs ₹4,000 per sq.ft."
5,4 BHK Flat For Sale In Sobha Silicon Oasis ...,"Sobha Silicon Oasis Naganathapura, Rayasandra ...","1,879 sqft","₹91,703/Month","₹1.6 Crores ₹8,515 per sq.ft."
6,4 BHK For Sale In Daadys Garden In Electronic...,"Daadys Garden Kammasandra Rd, Kammasandra, El...","2,600 sqft","₹85,971/Month","₹1.5 Crores ₹5,769 per sq.ft."
7,"4 BHK Flat For Sale In , Electronic City","Standalone Building, 16th Cross Road Neeladri ...","2,000 sqft","₹39,546/Month","₹69 Lacs ₹3,450 per sq.ft."
8,"4 BHK Flat For Sale In Hosa Road, Parappana ...","Standalone Building, 11th cross.anjanadri lay out","3,000 sqft","₹71,643/Month","₹1.25 Crores ₹4,167 per sq.ft."
9,4 BHK In Independent House For Sale In Elect...,"Independent House, surya nagar face 1","3,000 sqft",₹1.43 Lacs/Month,"₹2.5 Crores ₹8,333 per sq.ft."
10,4 BHK In Independent House For Sale In Elect...,"Independent House, Hosur Rd,Near Infosys Limited","1,200 sqft","₹42,985/Month","₹75 Lacs ₹6,250 per sq.ft."
11,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan Gardenia Gopalan gardenia, Veerasandr...","2,650 sqft","₹68,777/Month","₹1.2 Crores ₹4,528 per sq.ft."
12,4 BHK For Sale In Gpr Royale In Gpr Royale,6th Cross,"3,100 sqft","₹85,971/Month","₹1.5 Crores ₹4,839 per sq.ft."
13,4 BHK Flat For Sale In Heena Enclave In Elec...,"Neeladri Nagar,Near Pioneer Sun Blossom","2,350 sqft","₹71,643/Month","₹1.25 Crores ₹5,319 per sq.ft."
14,4 BHK For Sale In Deccan Palms Park In Electr...,"Deccan Palms Park Deccan Palms Villas, Deccan...","3,000 sqft","₹85,971/Month","₹1.5 Crores ₹5,000 per sq.ft."
15,4 BHK In Independent House For Sale In Elect...,"Independent House, Industrial Area Near Tech M...","1,500 sqft","₹57,314/Month","₹1 Crore ₹6,667 per sq.ft."

In [8]:
#program to scrape mentioned details from dineout.co.in

from bs4 import BeautifulSoup as bs
import requests
import re
import pandas as pd
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'     #url for scraping
response = requests.get(url)
soup = bs(response.text, 'lxml')
RestName = []
Cuisine = []
Location = []
Ratings = []
URL = []

RName= soup.find_all('div', class_='restnt-info cursor')
for i in RName:
    rName = i.find('a', class_='restnt-name ellipsis')
    RestName.append(rName.get_text())
    

    
location= soup.find_all('div', class_='restnt-loc')

for div in location:
    
    i = div.find_all('a')
    strloc=''
    for loc in i:
        strloc=strloc+' '+loc.get_text()
    
    Location.append(strloc.lstrip())
        
        
    
Cui= soup.find_all('span', class_='double-line-ellipsis')
for span in Cui:
    i = span.find_all('a')
    strcui=''
    for cui in i:
        strcui = strcui+ ', ' +cui.get_text()
    Cuisine.append(strcui.lstrip())
    
    
        
Rating=soup.find_all('div', class_='img-wrap')    
for i in Rating:
    rate = i.find('div', class_='restnt-rating rating-4')
    Ratings.append(rate.get_text())
    
    
url= soup.find_all('div', class_='img cursor')
for i in url:
    img1 = i.find('img', class_=('no-img'))
    URL.append(img1['data-src'],)
    
#print(RestName)  
#print(Location)
#print(Cuisine)
#print(Ratings)
#print(URL)

df =pd.DataFrame.from_dict({'Name':RestName, 'Cuisine':Cuisine, 'Location':Location, 'Ratings': Ratings, 'Img Url':URL}, orient='index')


df.transpose()

,Name,Cuisine,Location,Ratings,Img Url
0,Castle Barbeque,", Chinese, North Indian",Connaught Place Central Delhi,3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,", North Indian, Barbecue, Italian, Asian","3CS Mall, Lajpat Nagar - 3 South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,", North Indian, Chinese","Pacific Mall, Tagore Garden West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,", Multi-Cuisine, North Indian, Italian, Contin...","The Leela Ambience Convention Hotel, Shahdara ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,", Barbecue, Chinese, Mughlai, North Indian","Gardens Galleria, Sector 38A Noida",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,", North Indian, Italian, Oriental","Hilton Garden Inn, Saket South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,", Barbecue, North Indian","Taurus Sarovar Portico, Mahipalpur South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,", North Indian, Chinese, Fast Food","Indirapuram Habitat Centre, Indirapuram Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,", North Indian, Chinese, Continental","Vibe by The Lalit Traveller, Sector 35 Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,", North Indian, Mughlai, Barbecue","Suncity Business Tower, Golf Course Road Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,", North Indian, Mughlai",Sector 29 Faridabad,3.9,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,", North Indian, Chinese, Barbecue",NIT Faridabad,4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,", Multi-Cuisine, Asian, European, Italian, Nor...","DoubleTree By Hilton Gurugram Baani Square, Se...",4.1,https://im1.dineout.co.in/images/uploads/resta...

In [9]:
#program to scrape weather details for last 24 hours from Tutiempo.net

from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from lxml import html
url = 'https://en.tutiempo.net/delhi.html?data=last-24-hours'
response = requests.get(url, verify=False)

soup = bs(response.content, 'html.parser')

Hour = []        #emply lists
Temperature = []
Wind = []
Weather = []
Humidity = []
Pressure = []

hour = soup.find_all('tr', class_='thHora')   # hour 
for i in hour:
    Hour.append(i.get_text())
    
print(Hour)  

temp = soup.find_all('td', class_='t Temp')     #temperature
for i in temp:
    Temperature.append(i.get_text())
    
#print(Temperature)  

wind= soup.find_all('td', class_='wind')        #wind
for i in wind:
    Wind.append(i.get_text())
    
print(Wind)   

humidity = soup.find_all('td', class_= 'hr')     #humidity
for i in humidity:
    Humidity.append(i.get_text())
    
print(Humidity) 

pressure = soup.find_all('td', class_='prob')      #pressure
for i in pressure:
    Pressure.append(i.get_text())
    
print(Pressure)  

wc = soup.find_all('span', class_='thhip ico i0530 u303n')     #weather
for i in wc:
    Weather.append(i.get_text())
    
print(Weather) 

df = pd.DataFrame.from_dict({'Hour':Hour,'Temperature':Temperature, 'Wind':Wind, 'Weather':Weather, 'Humidity':Humidity, 'Pressure':Pressure }, orient='index')

df.transpose()

C:\Users\Admin\anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'en.tutiempo.net'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

[]
['9 km/h', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm', '6 km/h', '7 km/h', '6 km/h', 'Calm', '7 km/h', '6 km/h', '7 km/h', '7 km/h', '7 km/h', '9 km/h', '7 km/h', '7 km/h', '7 km/h', '7 km/h', '9 km/h', '9 km/h', '7 km/h', 'Calm', 'Calm', 'Calm', 'Calm', '6 km/h', '6 km/h', '6 km/h', 'Calm', 'Calm', 'Calm', 'Calm', '7 km/h', '7 km/h', 'Calm', 'Calm', 'Calm', 'Calm', 'Calm']
['88%', '88%', '88%', '88%', '88%', '83%', '83%', '83%', '83%', '83%', '83%', '78%', '78%', '68%', '60%', '53%', '50%', '53%', '50%', '53%', '50%', '47%', '47%', '47%', '53%', '60%', '60%', '60%', '61%', '69%', '73%', '82%', '94%', '94%', '94%', '88%', '88%', '88%', '94%', '94%', '94%', '88%', '88%', '94%', '94%', '88%', '83%', '82%', '77%']
['1016 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1016 hPa', '1016 hPa', '1016 hPa', '1016 hPa', '1016 hPa', '1015 hPa', '1015 hPa', '1015 hPa', '1015 hPa', '1015 hPa', '1015 hPa', '1015 hPa', '1016 hPa', '1016 hPa', '1015 hPa', '1016 hPa', '1016 hPa', '1017 hPa', '1017 hPa', '1018 hPa', '1018 hPa', '1019 hPa', '1019 hPa', '1019 hPa', '1018 hPa', '1018 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1016 hPa', '1016 hPa', '1016 hPa', '1016 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa', '1017 hPa']
['Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist', 'Mist']

    Hour Temperature    Wind Weather Humidity  Pressure
0   None        18°C  9 km/h    Mist      88%  1016 hPa
1   None        18°C    Calm    Mist      88%  1017 hPa
2   None        18°C    Calm    Mist      88%  1017 hPa
3   None        18°C    Calm    Mist      88%  1017 hPa
4   None        18°C    Calm    Mist      88%  1017 hPa
5   None        19°C    Calm    Mist      83%  1017 hPa
6   None        19°C    Calm    Mist      83%  1016 hPa
7   None        19°C    Calm    Mist      83%  1016 hPa
8   None        19°C    Calm    Mist      83%  1016 hPa
9   None        19°C    Calm    Mist      83%  1016 hPa
10  None        19°C    Calm    Mist      83%  1016 hPa
11  None        19°C    Calm    Mist      78%  1015 hPa
12  None        20°C    Calm    Mist      78%  1015 hPa
13  None        20°C    Calm    Mist      68%  1015 hPa
14  None        21°C  6 km/h    Mist      60%  1015 hPa
15  None        22°C  7 km/h    Mist      53%  1015 hPa
16  None        23°C  6 km/h    Mist      50%  1015 hPa
17  None        23°C    Calm    Mist      53%  1015 hPa
18  None        23°C  7 km/h    Mist      50%  1016 hPa
19  None        23°C  6 km/h    Mist      53%  1016 hPa
20  None        23°C  7 km/h    Mist      50%  1015 hPa
21  None        24°C  7 km/h    Mist      47%  1016 hPa
22  None        24°C  7 km/h    Mist      47%  1016 hPa
23  None        24°C  9 km/h    Mist      47%  1017 hPa
24  None        23°C  7 km/h    Mist      53%  1017 hPa
25  None        22°C  7 km/h    Mist      60%  1018 hPa
26  None        22°C  7 km/h    None      60%  1018 hPa
27  None        22°C  7 km/h    None      60%  1019 hPa
28  None        23°C  9 km/h    None      61%  1019 hPa
29  None        21°C  9 km/h    None      69%  1019 hPa
30  None        18°C  7 km/h    None      73%  1018 hPa
31  None        16°C    Calm    None      82%  1018 hPa
32  None        16°C    Calm    None      94%  1017 hPa
33  None        16°C    Calm    None      94%  1017 hPa
34  None        16°C    Calm    None      94%  1017 hPa
35  None        16°C  6 km/h    None      88%  1017 hPa
36  None        16°C  6 km/h    None      88%  1016 hPa
37  None        16°C  6 km/h    None      88%  1016 hPa
38  None        16°C    Calm    None      94%  1016 hPa
39  None        16°C    Calm    None      94%  1016 hPa
40  None        16°C    Calm    None      94%  1017 hPa
41  None        17°C    Calm    None      88%  1017 hPa
42  None        17°C  7 km/h    None      88%  1017 hPa
43  None        16°C  7 km/h    None      94%  1017 hPa
44  None        16°C    Calm    None      94%  1017 hPa
45  None        17°C    Calm    None      88%  1017 hPa
46  None        18°C    Calm    None      83%  1017 hPa
47  None        17°C    Calm    None      82%  1017 hPa
48  None        18°C    Calm    None      77%  1017 hPa

In [10]:
#program to scrape monument name, monument description, image URL about top 10 monuments from puredestinations.co.uk

from bs4 import BeautifulSoup
import requests
import random
import re 
import pandas as pd

url = 'https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

name = []      #empty lists
discriptions = []
url = []

mainClass = soup.find('div', class_= 'blog--single__content')

#print(mainClass.get_text())
title = []
discription = []
imgUrl = []
par=mainClass.find_all('p')
firstIndex=0
thirdIndex=0
for p in range(len(par)):
    if thirdIndex>=len(par):
        break;
    if firstIndex!=0:
        #print(par[thirdIndex].get_text())
        title.append(par[thirdIndex].get_text())
        discription.append(par[thirdIndex+1].get_text())
        #print(par[thirdIndex+1].get_text())
        #print(a)
        #a=par[thirdIndex+2].find('a');
        #imgUrl.append(a.attrs['src'])
        #print(a.attrs['src'])
        thirdIndex+=3
    else:
       thirdIndex+=1 
    firstIndex+=1
    
link=mainClass.find_all('img')
for img in link:
    if img.attrs['src'].find("data:image")==-1:
        imgUrl.append(img.attrs['src'])
        #print(img.attrs['src'])
#for i in mainClass:
    #mname = soup.find_all('p')
    #name.append(mname.get_text())
#print(name) 

df =pd.DataFrame.from_dict({'Title':title, 'Discription':discription, 'ImageUrl':imgUrl}, orient='index')


df.transpose()

,Title,Discription,ImageUrl
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th...",http://www.puredestinations.co.uk/wp-content/u...
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...,http://www.puredestinations.co.uk/wp-content/u...
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...,http://www.puredestinations.co.uk/wp-content/u...
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...,http://www.puredestinations.co.uk/wp-content/u...
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...,http://www.puredestinations.co.uk/wp-content/u...
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ...",http://www.puredestinations.co.uk/wp-content/u...
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...,http://www.puredestinations.co.uk/wp-content/u...
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...,http://www.puredestinations.co.uk/wp-content/u...
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a...",http://www.puredestinations.co.uk/wp-content/u...
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...,http://www.puredestinations.co.uk/wp-content/u...
10,Things to know before planning your trip to India,Are you inspired to plan an incredible trip to...,None